<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoctorOffice.Properties.Settings.DoctorOfficeConnectionString"
            connectionString="Data Source=DESKTOP-2J37NQO\SQLEXPRESS;Initial Catalog=DoctorOffice;Persist Security Info=True;User ID=sa;Password=jerekpo289"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>