USE [master]
GO
/****** Object:  Database [DoctorOffice]    Script Date: 09/11/2022 21:33:43 ******/
CREATE DATABASE [DoctorOffice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoctorOffice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Consultorio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoctorOffice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Consultorio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoctorOffice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoctorOffice]
GO
/****** Object:  Table [dbo].[Medics]    Script Date: 09/11/2022 21:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medics](
	[MedicKey] [int] NOT NULL,
	[Name] [varchar](80) NULL,
	[Surname] [varchar](80) NULL,
	[NumberTuition] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 09/11/2022 21:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientKey] [int] NOT NULL,
	[Name] [varchar](80) NULL,
	[Surname] [varchar](80) NULL,
	[Dni] [int] NULL,
	[Phone] [int] NULL,
	[Email] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turns]    Script Date: 09/11/2022 21:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turns](
	[TurnKey] [int] NOT NULL,
	[Number] [int] NULL,
	[Date] [date] NULL,
	[Horary] [time](7) NULL,
	[MedicKey] [int] NULL,
	[PatientKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TurnKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
